body{
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.navbar{
    background-color: #DBDBDB;
    border: 1px solid #DBDBDB;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.font-styles{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
}

.container{
    margin: auto;
    width: 50%;
    height: 90vh;
    /* border: 10px soild red; */
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.people{
  font: Poppins;
  font-weight: 400;
  text-align: center;
  /* padding-bottom: 30px; */
}

.logo {
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo img {
    width: 25px;
  }
  .logo p {
    margin: auto;
    font-weight: 600;
    font-family: "Poppins";
    font-size: 15px;
    color: #DBDBDB;
  }

  .count{
    font-family: Poppins;
    font-size: 50px;
    font-weight: 600;
    color: #FFFFFF;
  }

  .customer-count{
    /* width:300px; */
    /* height: -50px; */
    /* border: 20px soild black; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* line-height: 10px; */
  }
  .people{
   margin-top: -20px;
   color: #FFFFFF;
   ;
  }

  .user-email{
   display: flex;
   /* border: 2px solid red; */
   width: 50%;
   position:relative;
   height: 40px;
  }

  .user-email > input{
    width: 100%;
    text-decoration: none;
    border: 1px solid white;
    outline: none;
    padding: 5%;
    border-radius: 5px;
    background-color: #000000;
  }
  input:focus {   
     color: #FFFFFF;
    }

    input{
      caret-color:#FF6C3E;;
    }

  .user-email > button{
    position: absolute;
    left: 70%;
    height: 100%;
    width: 40%;
    border-radius: 5px;
    border: none;
  }

 /* .notification{
  display: flex;
  justify-content: center;
  align-items: center;
 } */

  .notification-text{
    font-family: Poppins;
    font-size: 10px;
    text-align: center;
    /* font-weight: 400; */
    color: #FF6C3E;
  }

  .announcement-div{
   /* border: 2px solid red;  */
    width:90%;
    text-align: center;
  }
  .announcement{
    font-family: Poppins;
    font-size: 11px;
    font-weight: 500;
    color: #A6A6A6;
  }
  .million{
    color: #A6A6A6;
  }